@media(min-width:1400px) and (max-width:1920px) {
}
@media(max-width:1600px) {
.info-office {
	padding: 0px;
}
.simple-head .extra-huge-text {
	font-size: 80px;
	line-height: 80px;
}
.arrival-block .item-name a {
	font-size: 24px;
	letter-spacing: 1px;
}
}
@media(min-width:1200px) and (max-width:1400px) {
.latest-work .col-4 .item.filter-home {
	width: 100%;
}
.arrival-block .item-name a {
	font-size: 18px;
	letter-spacing: 1px;
}
.arrival-block .item-name {
	position: relative;
	padding-top: 30px;
}
.arrival-block .item {
	min-height: inherit;
}
.latest-work .col-4 .item.filter-home li {
	display: inline-block;
	width: auto;
}
.latest-work .col-4 .item.filter-home li a {
	padding: 0 10px;
	margin-top: -2px;
}
.latest-work .position-center-center {
	width: 100%;
	text-align: center;
}
.latest-work .filter {
	min-height: auto;
	height: 80px;
}
.fst-up {
	margin-top: 0px;
}
}
@media(max-width:1200px) {
.arrival-block .item-name a {
	font-size: 16px;
	letter-spacing: 1px;
}
.arrival-block .item-name {
	position: relative;
	padding-top: 30px;
}
.arrival-block .item {
	min-height: inherit;
	width: 33.3333%;
}
}
@media(max-width:1024px) {
.fst-up {
	margin-top: -100px;
}
.sub-space {
	padding-left: 0px;
}
}
@media(min-width:992px) and (max-width:1199px) {
.top-info-con ul li {
	width: 27%;
}
.fst-up {
	margin-top: 0px;
}
.top-info-con ul li {
	float: left;
}
.top-info-con {
	width: 67%;
}
header .logo:after {
	right: -100px;
}
header .search-nav ul.dropdown {
	width: 100% !important;
}
.header-style-2.header-style-3 .logo {
	margin: 20px 0;
	width: 100%;
	text-align: center;
}
.header-style-2.header-style-3 nav {
	margin-top: 20px;
}
.header-style-2.header-style-3 nav {
	width: 100%;
}
.promo-block .promo-text {
	padding-right: 20px;
}
.contact.style-2 .contact-right {
	padding-right: 15px;
	padding-left: 15px !important;
}
.services {
	padding-left: 0px;
}
.latest-work .col-4 .item.filter-home {
	width: 100%;
}
.latest-work .col-4 .item.filter-home li {
	display: inline-block;
	width: auto;
}
.latest-work .col-4 .item.filter-home li a {
	padding: 0 10px;
	margin-top: -2px;
}
.latest-work .position-center-center {
	width: 100%;
	text-align: center;
}
.latest-work .filter {
	min-height: auto;
	height: 80px;
}
.offer-services li {
	width: 33.333%;
}
.offer-services li .position-center-center {
	width: 100%;
}
.counter ul li {
	width: 50%;
	margin-bottom: 30px;
}
.req-quote .col-md-6.pull-right {
	width: 100%;
}
.gallery .col-6 li {
	width: 33.3333%;
}
.gallery .col-6 li img {
	width: 100%;
}
header .navbar li {
	margin: 0 15px;
}
}
@media(min-width:768px) and (max-width:991px) {
.top-right ul li {
	float: left;
	display: inline-block;
	margin-left: 10px;
	padding-right: 10px;
}
.top-info-con {
	width: 100%;
	margin-bottom: 20px;
}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {
	width: 250px !important;
}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {
	padding: 20px;
}
header .ownmenu ul.dropdown {
	padding: 0px;
}
.welcome article {
	margin-bottom: 30px;
}
.promos {
	text-align: center;
}
.promos .text-right {
	text-align: center;
}
.top-info-con ul li {
	float: left;
}
.top-info-con ul {
	text-align: left;
}
.procsss {
	position: relative;
	margin-top: 0px;
	top: 0px;
}
.procsss .container {
	width: 100%;
}
.procsss ul {
	padding: 30px 0px;
}
.call-out {
	text-align: center;
}
.call-out h4 {
	line-height: 40px;
	margin-bottom: 20px;
}
.heading {
	width: 100%;
}
.what-we-do .rotatebox {
	min-height: auto;
	line-height: normal;
}
.services .tab-content {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.emergency {
	text-align: center;
}
.emergency .text-right {
	text-align: center;
}
.news .post-detail article {
	margin-bottom: 30px;
}
.latest-work .col-4 .item.filter-home {
	width: 100%;
}
.latest-work .col-4 .item.filter-home li {
	display: inline-block;
	width: auto;
}
.latest-work .col-4 .item.filter-home li a {
	padding: 0 10px;
	margin-top: -2px;
}
.latest-work .position-center-center {
	width: 100%;
	text-align: center;
}
.latest-work .col-4 .item {
	width: 33.3333%;
}
.team ul li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.clients ul li {
	float: left;
	width: 33.3333%;
	padding: 0px;
}
footer h4 {
	display: inline-block;
	width: 100%;
	margin: 50px 0;
	margin-bottom: 20px;
}
.footer-works>.col-md-3 {
	float: left;
	width: 33.3333%;
	margin: 0px;
	padding: 10px;
}
.latest-work .filter {
	min-height: 80px;
	display: inline-block;
	width: 100%;
}
.services .nav-tabs {
	display: inline-block;
	width: 100%;
}
.offer-services li {
	width: 33.333%;
}
.offer-services li .position-center-center {
	width: 100%;
}
header .search-nav ul.dropdown {
	width: 100% !important;
}
header .ownmenu .look-book .nav-img {
	width: 70px;
	margin-right: 10px;
}
header .ownmenu .look-book .media-heading {
	margin-top: 0px;
	margin-bottom: 10px;
}
header .ownmenu li > .megamenu li a {
	padding: 5px 0
}
header .ownmenu .look-book p {
}
header .ownmenu > li > .megamenu.full-width {
	padding: 30px;
}
header .ownmenu .look-book .media-body a {
	padding: 5px 0 0 0px;
}
header .ownmenu > li > .megamenu.full-width .nav-post .col-sm-3 {
	width: 50%;
}
header .ownmenu .megamenu h6 {
	margin-top: 20px;
}
header .ownmenu ul.dropdown li a {
	letter-spacing: 1px;
}
.what-we-do .rotatebox {
	width: 50%;
	float: left;
}
.what-we-do .rotatebox:nth-child(3) {
	width: 100%;
}
.services {
	padding-left: 0px;
}
.team .social li {
	width: auto;
}
.media.padding-right-100 {
	padding-right: 0px !important;
}
.testi .owl-nav {
	left: 50%;
	bottom: -40px;
}
.tab-pane.text-right {
	text-align: center;
}
.services .nav-tabs {
	text-align: center;
}
.services .nav-tabs li {
	float: none;
	display: inline-block;
	text-align: left;
}
.portfolio.style-2 li.item {
	width: 50% !important;
}
.counter ul li {
	width: 50%;
	margin-bottom: 30px;
}
header {
	padding: 0px;
}
header .logo {
	width: 100%;
	margin: 0px;
	padding: 15px 0px;
	text-align: center;
	border: none;
}
header .navbar {
	width: 100%;
}
.top-bar {
	width: 100%;
}
header .quotes a {
	margin-right: 0px;
}
.testi-name {
	width: 70%;
}
header .logo a {
	margin-top: 0px;
}
header .logo {
	height: auto;
	overflow: hidden;
}
header .logo:before {
	width: 100%;
	left: 100%;
}
header .logo:after {
	right: 0px;
}
.latest-work .filter {
	top: 0px;
	position: relative;
	margin-bottom: 20px;
	min-height: auto;
}
.members li {
	width: 50%;
}
.req-quote .col-md-6.pull-right {
	width: 100%;
}
.req-quote form {
	margin-bottom: 50px;
	display: inline-block;
	width: 100%;
}
.shipper {
	margin-top: 0px;
}
.sub-bnr .position-center-center {
	width: 100%;
}
.portfolio-wrapper .items .item {
	width: 50%;
}
footer h5 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
footer .text-post {
	float: left;
	width: auto;
	margin-left: 20px;
}
footer .subcribe {
	margin-bottom: 0px;
}
.gallery .col-6 li {
	width: 33.3333%;
}
.gallery .col-6 li img {
	width: 100%;
}
.team .col-md-3 {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.foot-info-con li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
footer h6 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.arrival-block .item {
	min-height: inherit;
	width: 50%;
}
.simple-head{
	min-height:1000px;
}
.simple-head .position-center-center{
	position:absolute;
}
.header-2 .logo-center{
	padding:0px;
}
.header-2 .is-sticky .sticky{
	padding:10px 20px;
}
.header-2 .sticky{
	padding:10px 20px;
}
.cd-nav-trigger{
	left:20px;
}
}
@media(max-width:767px) {
footer h5 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
.cd-nav-trigger{
	left:20px;
}
.header-2 .nav-right{
    right: 20px;
}
.arrival-block .item {
	min-height: inherit;
	width: 50%;
}
.navbar-toggle {
	margin: 0px;
	margin-right: 5px;
}
header .navbar li.active a:before {
	bottom: 0px;
	top: auto;
}
.navbar-toggle .icon-bar {
	height: 40px;
	width: 40px;
	border: 1px solid rgba(0,0,0,0.1);
	display: inline-block;
	padding: 10px;
	margin: 0px;
	border-radius: 4px;
	margin: 0px;
	line-height: 18px;
}
.news-letter form {
	text-align: center;
}
.news-letter form input {
	width: 100%;
}
.news-letter form button {
	width: 150px;
	float: none;
	margin: 0 auto;
	margin-top: 10px;
}
header .is-sticky .sticky .nav .dropdown-menu {
	margin-top: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu h6 {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
}
.ownmenu .dropdown.megamenu .dropdown-menu h5 {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
}
.ownmenu .dropdown.megamenu .dropdown-menu .nav-img {
	opacity: 0.5;
	margin: 0px;
	bottom: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
	padding: 0 30px;
	padding-bottom: 30px;
}
header .navbar .nav {
	max-height: 400px;
	overflow-y: scroll;
	margin-top: 20px;
}

header .user-acc .dropdown-menu {
	margin-top: 10px;
}
header .user-basket .dropdown-menu {
	margin-top: 10px;
}
header .sticky {
}
.simple-head{
	min-height:1000px;
}
.simple-head .position-center-center{
	position:absolute;
}
.ownmenu .dropdown.megamenu .media-heading {
	margin-top: 10px !important;
}
.ownmenu .dropdown.megamenu {
	position: relative !important;
}
.nav-right {
	position: absolute;
	right: 65px;
	margin-top: 0px;
	top: -8px;
}
header .navbar .nav li.dropdown:before {
	content: "\f105";
	position: absolute;
	right: 10px;
	font-family: 'FontAwesome';
	line-height: 48px;
	z-index: 2;
}
.nav-right .dropdown-menu {
	right: 0px;
	left: auto;
}
header .navbar {
	min-height: inherit;
}
.services {
	padding-left: 0px;
}
.sub-bnr .position-center-center {
	width: 100%;
}
.portfolio-wrapper .items .item {
	width: 50%;
}
.top-info-con ul li.fst {
	width: 50%;
	float: left;
}
.top-info-con ul li {
	width: 50%;
	float: left;
	margin: 0px;
	border: none;
}
.top-info-con ul li.lst {
	width: 100%;
}
.news .post-detail article {
	margin-bottom: 30px;
}
.offer-services li {
	width: 50%;
}
.offer-services li .position-center-center {
	width: 100%;
}
.tab-pane.text-right {
	text-align: center;
}
.media.padding-right-100 {
	padding-right: 0px !important;
}
.top-bar {
	margin: 0px;
	padding: 0px;
}
.top-right ul {
	text-align: center;
}
.top-right ul li .media {
	text-align: left;
}
header .navbar li a {
}
.top-right ul li {
	float: none;
}
header .quotes {
	width: 100%;
}
header .quotes a {
	width: 100%;
	height: 50px;
	line-height: 50px;
}
header .navbar li {
	margin: 0px;
}
.top-right {
	width: 100%;
}
.top-right ul {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}
.testi .owl-nav {
	left: 50%;
	bottom: -40px;
}
.sub-bnr h4 {
	margin-top: 0px;
}
.sub-bnr {
	min-height: 350px
}
footer .text-post {
	float: left;
	width: auto;
	margin-left: 20px;
}
.heading span {
	width: 100%;
}
#tabs {
	margin-bottom: 30px;
}
.ownmenu {
	width: 100%;
}
.ownmenu > li.showhide span.icon {
	padding: 0px;
	margin: 0px;
}
.top-info-con {
	width: 100%;
}
.top-info-con li {
	float: left;
	padding-bottom: 20px;
}
header .logo:after {
	height: 120px;
	right: 0px;
}
header .logo {
	margin: 0px;
	padding: 10px 0;
}
header .ownmenu:before {
	display: none;
}
header .ownmenu:after {
	display: none;
}
header .logo a {
	margin-top: 0px;
}
.is-sticky .sticky {
	position: relative !important;
}
header .logo {
	position: relative;
	width: 100%;
	text-align: center;
}
header nav {
	float: none;
	width: 100%;
}
header nav .ownmenu .indicator {
	display: block;
}
header nav li a {
	display: inline-block;
	width: 100%;
	float: none;
}
.ownmenu > li.showhide span {
	line-height: 50px;
	display: inline-block;
	width: 100%;
}
.ownmenu > li.showhide {
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.ownmenu > li.showhide span.title {
	margin: 0px;
}
.ownmenu > li > a {
	padding: 10px 0;
	text-align: left;
}
.ownmenu .indicator {
	display: block;
}
header .social {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}
header {
}
.procsss {
	position: relative;
	margin-top: 0px;
	top: 0px;
	background: rgba(0,0,0,0.8);
}
.what-we-do .rotatebox {
	width: 50%;
	float: left;
}
.what-we-do .rotatebox:nth-child(3) {
	width: 100%;
}
.procsss ul {
	padding: 30px 0px;
}
.procsss .media {
	margin-bottom: 30px;
}
.call-out {
	text-align: center;
}
.call-out h4 {
	line-height: 40px;
	margin-bottom: 20px;
}
.heading {
	width: 100%;
}
.what-we-do .rotatebox {
	min-height: auto;
	line-height: normal;
}
.services .tab-content {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.emergency {
	text-align: center;
}
.emergency .text-right {
	text-align: center;
}
.latest-work .col-4 .item.filter-home {
	width: 100%;
}
.latest-work .col-4 .item.filter-home li {
	display: inline-block;
	width: auto;
}
.latest-work .col-4 .item.filter-home li a {
	padding: 0 10px;
	margin-top: -2px;
}
.latest-work .position-center-center {
	width: 100%;
	text-align: center;
}
.latest-work .col-4 .item {
	width: 33.3333%;
}
.clients ul li {
	float: left;
	width: 33.3333%;
	padding: 0px;
}
footer h4 {
	display: inline-block;
	width: 100%;
	margin: 50px 0;
	margin-bottom: 20px;
}
.footer-works>.col-md-3 {
	float: left;
	width: 33.3333%;
	margin: 0px;
	padding: 10px;
}
.latest-work .filter {
	min-height: 80px;
	display: inline-block;
	width: 100%;
}
.services .nav-tabs {
	display: inline-block;
	width: 100%;
}
.latest-work .col-4 .item {
	width: 50%;
}
.port-item img {
	width: 100%;
}
.latest-work .filter {
	top: 0px;
	position: relative;
	margin-bottom: 20px;
	min-height: auto;
}
.portfolio.style-2 li.item {
	width: 50% !important;
}
header {
	padding: 10px 0px;
}
header .logo {
	width: auto;
	padding: 0px 0px;
	text-align: center;
	border: none;
}
.feature-item {
	padding: 40px !important;
}
.list-style-featured li {
	margin-bottom: 10px;
}
.list-style-featured h4 {
	margin-top: 15px;
}
.testi {
	width: 100%;
}
.sub-footer {
	padding: 40px;
}
.ownmenu > li.showhide {
	position: absolute;
	right: 0px;
	top: -50px;
	width: auto;
	padding: 0 20px;
	background: rgba(0,0,0,0.5);
	text-align: right;
}
.work-process li {
	margin-bottom: 30px;
}
.team article {
	margin-bottom: 30px;
	text-align: center;
}
header .navbar {
	width: 100%;
}

.navbar-toggle {
	display: inline-block;
	position: absolute;
	top: -3px;
	right: 15px;
	padding: 0px;
	margin: 0px;
}
header .navbar li a:before {
	top: auto;
	bottom: 0px;
}
header .navbar-collapse {
	width: 100%;
	margin: 0px;
}
header .container {
	padding: 0 15px;
}
header .navbar .nav .dropdown-menu {
	position: relative;
}
.ownmenu .nav .dropdown-menu {
	margin-top: 0px;
	min-width: 100%;
	background: rgba(0,0,0,0.1);
}
header .navbar .nav li {
	width: 100%;
	text-align: left;
}
header .navbar .nav {
	width: 100%;
}
.top-bar {
	width: 100%;
}
header .quotes a {
	margin-right: 0px;
	margin-bottom: 20px;
}
.top-info {
	display: none;
}
.heading p {
	width: 100%;
}
.members li {
	width: 50%;
	float: left;
}
.welcome .infro-con {
	margin-bottom: 30px;
}
.req-quote form {
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}
.shipper {
	margin-top: 0px;
}
.req-quote .pull-right {
	width: 100%;
}
.process li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.team .team-detail {
	margin-bottom: 80px;
}
.in-testi {
	width: 100%;
}
.fst-up {
	margin-top: -100px;
}
.sub-space {
	padding-left: 0px;
}
.testimonial {
	background-size: cover;
}
.welcome article {
	margin-bottom: 30px;
}
.promos {
	text-align: center;
}
.promos .text-right {
	text-align: center;
}
footer .subcribe {
	margin-bottom: 0px;
}
.gallery .col-6 li {
	width: 33.3333%;
}
.gallery .col-6 li img {
	width: 100%;
}
.team .col-md-3 {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.foot-info-con li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
footer h6 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.knowledge-share li {
	padding: 0px 20px !important;
}
.knowledge-share li:nth-child(1) {
	border-bottom: 1px solid #d1d5db;
	padding-bottom: 30px !important;
	margin-bottom: 30px;
}
.knowledge-share:before {
	display: none;
}
.header-2 .nav-right{
	top:auto;
}
.special-offers .extra-huge-text{
	font-size:90px;
}
.top-shop-feature img{
	max-width:100%;
}
.top-shop-feature article{
	margin:0 50px;
}
.header-1 {
	background:rgba(0,0,0,0.9);
} 
.header-1 .navbar-toggle .icon-bar{
	color:#fff;
	border:1px solid rgba(255,255,255,0.9);
}
}
@media (max-width:640px) {
.arrival-block .item {
	min-height: inherit;
	width: 100%;
}
}
@media(max-width:540px) {
header .logo {
	width: 100%;
}
.top-shop-feature article{
	margin:0 20px;
}
.header-1{
	position:relative;
	background:rgba(0,0,0,0.9);
}
.header-1 .navbar-toggle .icon-bar{
	color:#fff;
	border:1px solid rgba(255,255,255,0.5);
}
.header-1 .navbar .nav li.dropdown:before{
	color:#fff;
}
.nav-right {
	position: absolute;
	top: 40px;
	left: 0px;
	float: left;
}
header .navbar .nav {
}
.nav-right .dropdown-menu {
	right: auto;
	left: 0px;
}
.navbar-toggle {
	position: relative;
	right: 0px;
	margin-top: 10px;
}
header .user-acc .dropdown-menu {
	margin-top: 4px;
}
header .user-acc .dropdown-menu {
	margin-top: 4px;
}
header .user-basket .dropdown-menu {
	margin-top: 4px;
}
.navbar-toggle {
	top: auto;
}
header .sticky {
	padding: 0px;
}
.header-2 .logo-center{
	position:relative;
	width:100%;
	margin-top:0px !important;
}
.header-2 .nav-right{
	right:0px;
	left:auto;
}

.header-2 .is-sticky .sticky{
	padding:0px 0;
	width:100%;
}
.header-2 .is-sticky .sticky{

}
.special-offers .extra-huge-text{
	font-size:50px;
	line-height:50px;
}
.header-2 .nav-right{
	top:40px;
}
.cd-nav .position-center-center{
	padding:0px;
}
}
@media(max-width:440px) {
header .user-basket .dropdown-menu{
	width:100%;
}
header .user-basket .dropdown-menu{
	min-width:300px;
}
}
@media(max-width:320px) {
}
@media(max-height: 700px) {
}
